body, html {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  height: 100%;
  color: white;
}

/* HERO BACKGROUND */
.hero {
  background-image: url('https://swarajya.gumlet.io/swarajya/2022-02/4d5e7bc0-c46a-4576-bb64-401b096280f8/swarajya_2021_12_923cde37_fb2f_4282_bef1_45bb8fe864f3_Mega_National_Highways_Project_1200x800.jpg?w=610&q=75&compress=true&format=auto');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.65);
}

/* NAVBAR */
nav {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 50px;
  background: rgba(0,0,0,0.4);
  backdrop-filter: blur(5px);
}

.logo {
  font-size: 30px;
  font-weight: 800;
  color: #ffcc00;
}

/* MENU */
nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

nav ul li a:hover {
  color: #ffcc00;
}

/* MOBILE MENU BUTTON */
.menu-toggle {
  display: none;
  font-size: 30px;
  cursor: pointer;
  color: white;
}

/* CENTER CONTENT */
.content {
  position: relative;
  z-index: 2;
  margin-top: 12%;
  text-align: center;
  padding: 0 20px;
}

.content h1 {
  font-size: 40px;
  font-weight: 900;
  line-height: 1.3;
}

.content p {
  font-size: 18px;
  margin-bottom: 30px;
}

.btn {
  padding: 14px 32px;
  background: #ffcc00;
  color: #000;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 700;
  font-size: 18px;
}

.btn:hover { background: #e6b800; }

/* RESPONSIVE */
@media (max-width: 768px) {

  nav {
    padding: 15px 20px;
  }

  .menu-toggle {
    display: block;
  }

  nav ul {
    position: absolute;
    top: 70px;
    right: 0;
    background: rgba(0,0,0,0.9);
    width: 100%;
    text-align: center;
    flex-direction: column;
    display: none;
    padding: 20px 0;
  }

  nav ul.show {
    display: flex;
  }

  nav ul li {
    padding: 10px 0;
  }

  .content h1 {
    font-size: 28px;
  }

  .content p {
    font-size: 16px;
  }

  .hero {
    background-attachment: scroll;
  }
}
